body{
    background-color: rgb(255, 255, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navegacao-logo{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.navegacao-logo a{
    font-size: 20px;
    color: rgb(0, 132, 255);
    padding: 10px;
    text-decoration: none;
}

.imagem-logo{
    width: 150px; 
}

.video{
    width: 100%;
}

.video video{
 width: 100%;
 height: 400px;
 object-fit: cover;
}

.container-sobre, .container-servicos{
    width: 100%;
    height: auto;
    background-color: #e7f3f5;

}
.sobre-titulo, .servicos-titulo {
    text-align: center;
    padding: 30px;
    font-size: 28px;
    color: rgb(0, 132, 255);
    
}

.sobre-descricao{
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
    
}

.sobre-descricao p{
    font-size: 18px;
    padding: 10px 20px 5px;
    line-height: 28px;

}
.container-servicos {
    width: 100%;
    height: auto;
}



.servicos-imagens{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.servicos-imagens img{
    width: 300px;
    height: 200px;
}

.servicos-imagens figcaption{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    color: rgb(0, 132, 255);
}






@media (max-width: 1300px){

    body{
    padding: 0px;
    }

    div#intro{
        background-color: rgb(255, 255, 255);
        color: white;
        font: normal 40px calibri;
        padding: 40px;
    }

    img#logo{ 
        width: 270px;
        margin-top: 20px;
    }

    .card{
        width: 320px;
        height: 160px;
        object-fit: cover;
        object-position: 40%;
        margin: 5px;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        font: bold 30px calibri;
        color: white;
        margin-bottom: 20px;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .icon_label{
        margin-right: 0px;
        margin-left: 0px;
    }

    div#whats{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    hr{
        width: 260px;
    }

    div#intro{
        width: 330px;
        text-align: center;
        align-items: center;
    }

    #intro h1{
        margin: 10px;
        margin-bottom: 30px;
        font: bold 25px calibri;
        text-align: center;
    }

    #intro p{
        color:rgb(97, 97, 97);
        text-align: justify;
        font: normal 25px calibri;
        margin: 0%;
        
    }

}